<hr class="topHr" />
<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1581539250439-c96689b516dd?auto=format&fit=crop&q=80&w=2586&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Black Chair"
        width=" 100px"
        height="200px"
      />
      <div class="card-body">
        <h5 class="card-title">Black Chair</h5>
        <h1 class="card-text">$100.00</h1>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1567538096630-e0c55bd6374c?auto=format&fit=crop&q=80&w=2787&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image cap"
        width="100px"
        height="200px"
      />
      <div class="card-body">
        <h5 class="card-title">White Chair</h5>
        <h1 class="card-text">$99.99</h1>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr class="topHr" />
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1549497538-303791108f95?auto=format&fit=crop&q=80&w=2722&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Card image cap"
        width="100px"
        height="200px"
      />
      <div class="card-body">
        <h5 class="card-title">Dramatic Chair</h5>
        <h1 class="card-text">$88.88</h1>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col">
    <hr class="topHr" />
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1586158291800-2665f07bba79?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGNoYWlyfGVufDB8fDB8fHww"
        alt="Card image cap"
        width="100px"
        height="200px"
      />
      <div class="card-body">
        <h5 class="card-title">Pink Chair</h5>
        <h1 class="card-text">$77.77</h1>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
