<div class="row mainDiv g-0">
  <div class="sidebarDiv g-0">
    <app-sidebar> </app-sidebar>
  </div>
  <div class="col g-0 componentDivs">
    <div class="row g-0 componentDivs">
      <div class="row g-0 componentDivs">
        <app-recent-playlist></app-recent-playlist>
      </div>
      <div class="row g-0 componentDivs">
        <app-recent-artists></app-recent-artists>
      </div>
      <div class="row g-0 componentDivs">
        <app-explore></app-explore>
      </div>
    </div>
  </div>
</div>
