<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" href="#">
    <img
      src="https://lastmileliquidators.com/cdn/shop/files/lastmile2_250x@2x.jpg?v=1638668025"
      width="200px"
      height="98px"
      alt=""
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link h2" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h2" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h2" href="#">Hours</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h2" href="#">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
