<div class="d-flex flex-column flex-shrink-0 p-3 sidebarMain">
  <a
    href="/"
    class="d-flex align-items-left mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
  >
    <span class="logo">Logo</span>
  </a>
  <a href="/home"><span>Search</span></a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li routerLinkActive="nav-link active router" class="nav-item">
      <a
        routerLink="/home"
        aria-current="page"
        class="nav-item hover-underline-animation"
        >Home</a
      >
    </li>
    <li routerLinkActive="nav-link active route">
      <a routerLink="/library" class="nav-item hover-underline-animation"
        >Library</a
      >
    </li>
    <li routerLinkActive="nav-link active route">
      <a
        routerLink="/music-player"
        class="nav-link nav-item hover-underline-animation"
        >Music</a
      >
    </li>
    <hr />
    <!-- add playlists users can bookmark here -->
    <li>
      <a href="#" class="nav-link link-dark"> Playlist 1 </a>
    </li>
  </ul>

  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
      id="dropdownUser2"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Windows_10_Default_Profile_Picture.svg/1024px-Windows_10_Default_Profile_Picture.svg.png?20221210150350"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong></strong>
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Placeholder</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>
