.mainnav {
  background: rgb(156, 10, 10);
}

/* Search Inputs */
.search {
  display: flex;
}

.searchField {
  display: flex;
}

.searchButton {
  width: 10vh;
  margin-left: 10px;
  justify-content: center;
}

/* Profile */

.profileImage {
  margin-left: 10px;
}
